spark.master             <%= spark::master %>
spark.yarn.jars          hdfs:///user/spark/jars/<%= spark::version %>/*
spark.serializer         <%= spark::serializer %>
spark.driver.memory      <%= spark::driver_memory %>
spark.eventLog.enabled   true
spark.eventLog.dir       <%= spark::eventLog_dir %>

# Spark History Server
spark.history.ui.port    <%= spark::history_ui_port %>